################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Integracao
/Integracao/Fourjuris.Integracao.Api/obj/Debug/net8.0/Fourjuris.Integracao.Api.csproj.AssemblyReference.cache
/Integracao/Fourjuris.Integracao.Configurations/bin/Debug/net8.0
/Integracao/Fourjuris.Integracao.Configurations/obj/Debug/net8.0/ref
/Integracao/Fourjuris.Integracao.Configurations/obj/Debug/net8.0/refint
/Integracao/Fourjuris.Integracao.Configurations/obj/Debug/net8.0
/Integracao/Fourjuris.Integracao.Helpers/bin/Debug/net8.0
/Integracao/Fourjuris.Integracao.Helpers/obj/Debug/net8.0/ref
/Integracao/Fourjuris.Integracao.Helpers/obj/Debug/net8.0/refint
/Integracao/Fourjuris.Integracao.Helpers/obj/Debug/net8.0
/Integracao/Fourjuris.Integracao.WhatsApp/bin/Debug/net8.0
/Integracao/Fourjuris.Integracao.WhatsApp/obj/Debug/net8.0
/Integracao/Fourjuris.Integracao.WhatsApp.Abstractions/bin/Debug/net8.0
/Integracao/Fourjuris.Integracao.WhatsApp.Abstractions/obj/Debug/net8.0
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2/bin/Debug/net8.0
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2/obj/Debug/net8.0
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/bin/Debug/net8.0
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/ref
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/refint
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/staticwebassets
*.exe
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/Fourjuri.3C9DB398.Up2Date
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api.csproj.CoreCompileInputs.cache
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api.csproj.FileListAbsolute.txt
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api.dll
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api.genruntimeconfig.cache
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api.MvcApplicationPartsAssemblyInfo.cache
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api.MvcApplicationPartsAssemblyInfo.cs
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api.pdb
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/staticwebassets.build.json
/Integracao/Fourjuris.Integracao.WhatsApp.Evolution.V2.Api/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
